<footer>
  <div class="container">
    <p>
      &copy; {{ site.time | date: "%Y" }} {{ site.title }}.
      Tema basado en <a rel="nofollow" target="_blank" href="https://startbootstrap.com/template-overviews/new-age/">Start Bootstrap New Age</a>.
    </p>
    <ul class="list-inline">
      <li><a href="{{ '/politica-de-privacidad/' | relative_url }}">Política de Privacidad</a></li>
      <li><a href="{{ '/terminos-y-condiciones/' | relative_url }}">Términos y Condiciones</a></li>
    </ul>
  </div>
</footer>
